# 核心 C 扩展库 (建议自带以减少下载失败率)
numpy==2.4.3
opencv-python==4.13.0.92
scipy==1.17.1
matplotlib==3.10.8
pillow==12.1.1
pyzmq==27.1.0
lxml==6.0.2

# 部署过程必需库
requests==2.28.2
psutil==5.9.4

# 其余轻量级纯 Python 依赖将由启动器在首次运行完成 Git 同步后自动安装
